@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.Font_Roboto{
    font-family: 'Roboto', sans-serif !important;
    font-size: 17px !important;
    font-weight: 400 !important;
    color: #27303E;
}
.welcome{
   height: 650px !important;
}
.margin_nav_btn{
    padding: 0px 10px;
}
.bg_image1 img{
   width: 43%;
   position: absolute;
   right: 0px;
    top: 150px;
}
.bg_image2 img{
    width: 4.5%;
    position: absolute;
    left: 0px;
    top: 500px;
}
 .welcomePageContent h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 68px;
    color: #27303E;
    margin: 15px 0px;
}
 .welcomePageContent p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 24px;
    color: #27303E;
    margin: 15px 0px;
 }
 .welcomePageContent button{
   background: #085A4E;
   box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
   border-radius: 50px;
   width: 194px;
   height: 50px;
   text-decoration: none;
   outline: none;
   border: 0px solid red;
   margin: 15px 0px;

 }
 .welcomePageContent button p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #E7E7EF;
    margin: 0px !important;
 }
 .welcomePageContent{
   position: relative;
   left: 15vw;
   top: 155px;
 }

 /* our survice  */
.section_width{
   width: 90vw;
   margin: auto;

}
.heading_homepage_heading{
   text-align: center;
   margin: 10px;
   padding: 10px;
   line-height: 40px !important;
}
.heading_homepage_para{
   text-align: center;
   width: 60vw;
   margin: 25px auto;
   font-family: 'Open Sans';
   font-size: 17px;
   line-height: 150%;
}
.box_content{
   width: 55vw;
   margin:10vh auto;
   display: flex;
   flex-direction: row;
   box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15);
   border-radius: 20px;
   padding: 20px;
}
.contentUnderBox{
   width: 45%;
   padding: 20px;
   display: flex;
   flex-direction: column;
   height: 278px;
   justify-content: center;
}
.contentUnderBox p{
   font-size: 16px;
   font-family: 'Montserrat';
   color: #27303E;
}
.imageUnderBox{
   padding: 20px;
   display: flex;
   text-align: center;
   justify-content: center;
}
.imageUnderBox img{
   width: 90%;
}